:root {
    --bg-main: #fff;
    --bg-alternate: #eee;
    --color: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-main: #000;
        --bg-alternate: #333;
        --color: #fff;
    }
}


body {
    height: 100vh;
    width: 100vw;
    font-size: 5vw;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    white-space: nowrap;
    background-color: var(--bg-main);
    color: var(--color);
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container.result-is-over {
    --stock-color: green;
}

.container.result-is-under {
    --stock-color: red;
}

.result {
    background-color: var(--bg-alternate);
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.result-line {
    font-size: 200%;
}

.result-main {
    color: var(--stock-color)
}

.footer {
    font-size: 50%;
}
