name: Update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *' # Every hour

jobs:
  update:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - env:
          GIT_PAGES_CLI_TOKEN: ${{ secrets.GIT_PAGES_CLI_TOKEN }}
          API_NINJAS_TOKEN: ${{ secrets.API_NINJAS_TOKEN }}
        run: |
          bash update.sh
